# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Cloudinary Integration (CV & Payment Screenshot Uploads)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=""


# App Configuration
NEXT_PUBLIC_APP_NAME=""
NEXT_PUBLIC_APP_URL=""
NEXT_PUBLIC_COMPANY_EMAIL=""
NEXT_PUBLIC_COMPANY_WHATSAPP=""
